/* Error: Undefined variable.
 *    ,
 * 16 | @each $vl-name, $vl-align in $vl-bp-list {
 *    |                              ^^^^^^^^^^^
 *    '
 *   ../@govflanders/vl-ui-util/src/scss/util/_align.scss 16:30  @import
 *   vl-ui-util/src/scss/_util.scss 8:9                          @import
 *   ../../style.scss 12:9                                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 16 \2502  @each $vl-name, $vl-align in $vl-bp-list {\a    \2502                               ^^^^^^^^^^^\a    \2575 \a   ../@govflanders/vl-ui-util/src/scss/util/_align.scss 16:30  @import\a   vl-ui-util/src/scss/_util.scss 8:9                          @import\a   ../../style.scss 12:9                                       root stylesheet";
}
